@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 240 240;
  --foreground: 70 30 10;
  --color-primary: 255 140 95;
  --color-secondary: 220 90 95;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 15 4 16;
    --foreground: 255 209 247;
    --color-primary: 56 18 69;
    --color-secondary: 106 35 131;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}
