@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fce2e0;
  --foreground: #171717;
  --color-primary: 210 50 20;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: rgb(243, 122, 113);
    --color-primary: 210 50 20;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* debug
body > * :hover {
  border: 1px solid #f00f0040;
}
*/
