@import "tailwindcss";

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

:root {
	--color-background: rgb(255 250 240);
	--color-foreground: rgb(70 30 10);
	--color-primary: rgb(255 140 95);
	--color-secondary: rgb(220 90 95);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: rgb(15 4 16);
		--color-foreground: rgb(255 209 247);
		--color-primary: rgb(56 18 69);
		--color-secondary: rgb(106 35 131);
	}
}

body {
	color: var(--color-foreground);
	background: var(--color-background);
}

button {
	cursor: pointer;
}
