@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fce2e0;
  --foreground: #171717;
  --borderBrand: #ea580c;
  --backgroundBrand: #ea580c;
  --textBrand: #ea580c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fce2e0;
    --borderBrand: #9a3412;
    --backgroundBrand: #9a3412;
    --textBrand: #9a3412;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
